*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body{
height:100vh;
 background:blanchedalmond;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 width:100%;
}


/*-----------Navigation Bar--------------*/

nav {
    background-color:indigo;
    height: 70px;
    width:100%;
    
    
}
ul{
float:right;
margin-right:5px;
}
li{ 
    display: inline-block;
 margin:10px;
    float:left;
    list-style: none;
}
ul li a{
    color:lawngreen;
    font-size:18px;
    padding:10px;
    text-transform: uppercase;
    
}
a:hover{
    background-color:rgb(92, 140, 211);
}